<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>

      <!-- JQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
  <!--
  <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
-->
    <!-- angular -->
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-app.js"></script>

      <!-- Sortable.js -->
    <script src="https://rubaxa.github.io/Sortable/Sortable.js"></script>

    <!-- ng-sortable.js -->
    <script src="https://rubaxa.github.io/Sortable/ng-sortable.js"></script>

    <!-- app.js -->
    <script type="text/javascript" src="/javascripts/app.js"></script>

<!-- Materialize -->
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- my CSS -->
      <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">


</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">FitBuilder</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
        {{#if currentUser}}
        Welcome {{currentUser.username}}
        {{/if}}
        </li>
        <li><a href="/exercises">Lifts</a></li>
        {{#if currentUser}}
        <li><a href="/workout">Your Workouts</a></li>
        <li><a href="/accounts/leave">Logout</a></li>
        {{/if}}
        {{#unless currentUser}}
        <li><a href="/accounts/login">Login</a></li>
        {{/unless}}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/exercises">Lifts</a></li>
        {{#if currentUser}}
        <li><a href="/workout">Your Workouts</a></li>
        <li><a href="/accounts/leave">Logout</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>



    <div id="bodyContainer">

      {{{body}}}
    </div>

</body>
</html>
