@import url(https://fonts.googleapis.com/css?family=Patua+One);

body {
  font-family: 'Patua One', cursive;
  font-size: 16px;
  background-color: #B9EEC9;

}

#bodyContainer {
  padding: 50px;
}

nav .nav-wrapper{
  padding: 0px;
}

nav .brand-logo {
  margin-left: 50px;
}

a {
  color: #00B7FF;
  text-align: center;
}

.login{
  width: 50%;
}

::-webkit-input-placeholder {
  color: #1D2620;
}

.editable{
  margin-bottom: 0px;
}

.lifts {
  border: 1px dotted black;
  border-radius: 5px;
  margin-bottom: 1%;
  padding: 1%;
  padding-top: 2%;
  height: 23rem;
}

.lifts a:hover{
  background-color: #CACACA;
}

#dragHere{
  width: 100%;
  min-height: 48px;
  background-color: #C3FFD6;
}

.workout-module{
  margin-bottom: 2%;
}

.workout-module:hover{
  /*background-color: #4AC1CD;*/
}

.workout-module input {
  width: 100%;
}

.cardInWorkoutBuilder{
  width: 100%;
}

.cardInWorkoutBuilder .card{
  /*padding: -20px;*/
  margin: -1px;
}

.cardInWorkoutBuilder .card .card-content {
  padding: 0;
}

.cardInWorkoutBuilder .card .card-reveal{
  padding: 1px;
}

.input-field{
  display: block;
  width: 100%;
  margin-bottom: 0px;
}
input[type=text].editable {
  margin-bottom: 0;
}

input{
  width: 100%;
}

.addToButton{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.addToButton:hover{
  font-weight: bold;
  background-color: green;
}

.addToButton:visited{
  color: red;
}

.input-field .prefix {
  font-size: 1.3rem;
}

li{
  list-style: none;
  font-family: 'Patua One', cursive;
  font-size: 15px;
  color: black;
  display: block;
}


p {
  font-family: 'Patua One', cursive;
  font-size: 15px;
  display: block;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  height: 2rem;
}

.card input[type=text] {
  width: 4em;
}

.nameWorkout input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  font-size: 1.4rem;
}


.card .card-content {
  padding: 10px;
}


