@import url(https://fonts.googleapis.com/css?family=Patua+One);

body {
  font-family: 'Patua One', cursive;
  font-size: 16px;
  background-color: #B9EEC9;
}

#bodyContainer {
  padding: 50px;
}

nav .nav-wrapper{
  padding: 0px;
}

a {
  color: #00B7FF;
}

::-webkit-input-placeholder {
  color: #1D2620;
}

.editable{
  margin-bottom: 0px;
}

.lifts {
  border: 1px dotted black;
  border-radius: 5px;
  margin-bottom: 1%;
  padding: 1%;
  padding-top: 2%;
  height: 23rem;
}

.lifts a:hover{
  background-color: #CACACA;
}

.workout-module{
  border: 3px solid white;
  margin-bottom: 2%;
  /*padding: 7%;*/
  height: 17rem;
  border-radius: 6px;
  display: block;
}

.workout-module:hover{
  /*background-color: #4AC1CD;*/
}

.workout-module input {
  width: 100%;
}


.input-field{
  display: block;
  width: 100%;
  margin-bottom: 0px;
}
input[type=text].editable {
  margin-bottom: 0;
}

input{
  width: 100%;
}

.addToButton{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.addToButton:hover{
  font-weight: bold;
  background-color: green;
}

.addToButton:visited{
  color: red;
}

.input-field .prefix {
  font-size: 1.3rem;
}

li{
  list-style: none;
  font-family: 'Patua One', cursive;
  font-size: 15px;
  color: black;
  display: block;
}


p {
  font-family: 'Patua One', cursive;
  font-size: 15px;
  display: block;
}

